:root {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body, 
ul,
li,
p,
div,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    
}
li {
    list-style: none;
}
form,
input,
textarea {
    font-family: inherit;
}

.user-input-form {
    display: grid;
    position: relative;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    > button {
        padding: 1rem;
    }
    > .close-button {
        position: absolute;
        margin: 0;
        padding: 0.5rem;
        top:0;
        right:0;
        outline: none;
        border: none;
        color: red;
        font-weight: 800;
        font-size: 20px;
    }
}
.user-input-area {
    display: grid;
    gap: 1rem;
    > div {
        display: grid;
        grid-template-columns: repeat(2, minmax(20ch, 30ch));
        gap: 1rem;
    }
}
.notes-area-div {
    background: rgb(247, 175, 175);
    height: 100px;
    max-width: 30ch;
    overflow-y: scroll;

    > .notes-area {
        display: flex;
        padding-left: 0.3rem;
        flex-direction: column;
        gap: 0.2rem;
        flex-wrap: wrap;
        
        > li {
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;
        }
    }
}

.wrapper {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: minmax(150px, 250px) minmax(50%, 100vw);
    grid-template-rows: 8fr 1fr;
    min-height: 100dvh;
    background-color: antiquewhite;

}
.sidebar {
    background: rgb(160, 163, 212);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .logo-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .img {
            margin: 1rem;
            width: 100px;
            height: 100px;
            outline: 2px solid black;
            background: white;
        }

        .title, 
        .info-area {
            background: pink;
            padding: 10px;
            width: stretch;
        }
    }
}

.projects {
    padding: 1rem;
    position: relative;
    background: pink;
    width: stretch;

    &::after {
        content: "V";
        font-weight: 800;
        font-size: 20px;
        position: absolute;
        top: 0.8rem;
        right: 1.2rem;
    }
    .projects-area {
        background: white;
        
    }
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;;
    align-items: flex-start;
    justify-content: space-evenly;
    
    > div {
        box-shadow: rgba(160, 0, 107, 0.616) 0 5px 10px;
    }
}

div[class^="todo"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    
    background: rgb(255, 203, 203);
    border-radius: 25px;
    width: 300px;

    & > p[class$="description"] {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }
    & > * {
        padding: 1rem;
        border-radius: 25px;
        background: white;
        width: stretch;
    }
}

footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgb(229, 255, 158);
}