:root {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}
body, 
ul,
li,
p,
div,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    
}
li {
    list-style: none;
}
form,
input,
textarea {
    font-family: inherit;
}


.user-input-form {
    display: grid;
    position: relative;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    > button {
        padding: 1rem;
    }
    > .close-button {
        position: absolute;
        margin: 0;
        padding: 0.5rem;
        top:0;
        right:0;
        outline: none;
        border: none;
        color: red;
        font-weight: 800;
        font-size: 20px;
    }
}
.user-input-area {
    display: grid;
    gap: 1rem;
    > div {
        display: grid;
        grid-template-columns: repeat(2, minmax(20ch, 30ch));
        gap: 1rem;
    }
}
.notes-area-div {
    background: rgb(247, 175, 175);
    height: 100px;
    max-width: 30ch;
    overflow-y: scroll;

    > .notes-area {
        display: flex;
        padding-left: 0.3rem;
        flex-direction: column;
        gap: 0.2rem;
        flex-wrap: wrap;
        
        > li {
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;
        }
    }
}

.checklist {
    display: flex;
    flex-direction: column;
    
    input#checklist {
        max-width: 18ch
    }
    .checklist-area-div {
    background: rgb(247, 175, 175);
    height: 100px;
    max-width: 30ch;
    overflow-y: scroll;
     > ul > li {
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;
        }
    }
}

.wrapper {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: minmax(150px, 250px) minmax(50%, 100vw);
    grid-template-rows: 8fr 1fr;
    min-height: 100dvh;
    background-color: antiquewhite;

}
.sidebar {
    background: rgb(160, 163, 212);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .logo-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .img {
            margin: 1rem;
            width: 100px;
            height: 100px;
            outline: 2px solid black;
            background: white;
        }

        .title, 
        .info-area {
            background: pink;
            padding: 10px;
            width: stretch;
        }
    }
}
.button-area {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    > button {
        padding: 0.5rem;
        border: 1px solid rgba(255, 158, 234, 0.575);
        border-radius: 10px;
        background: rgb(116, 85, 255);
        color: rgb(248, 254, 255);
        font-weight: 700;
            &:hover {
                transform: scale(1);
                filter: brightness(95%)
            }
}
}

.projects {
    padding: 1rem;
    position: relative;
    background: pink;
    width: stretch;
}
.projects-area {
        background: white;
        height: stretch;
        margin-bottom: 1rem;
        
    }
.project-area-ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1rem;
}
.project-area-ul > li {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    background: rgb(235, 215, 215);
    padding: 0.5rem;

}
.project-area-ul > li > span {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;;
    align-items: flex-start;
    justify-content: space-evenly;
    
    > div {
        box-shadow: rgba(160, 0, 107, 0.616) 0 5px 10px;
    }
}

.default-card {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    background: rgb(255, 203, 203);
    border-radius: 25px;
    width: 300px;
    opacity: 0.7;
    justify-content: center;
    > .call-to-action {
        padding: 0.5rem;
        border-radius: 25px;
        background: rgb(255, 230, 230);
        width: 20ch;
        grid-column: 1 ;
        text-align: center;
    }
}

div[class^="todo"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4);
    padding: 1rem;
    gap: 1rem;
    background: rgb(255, 203, 203);
    border-radius: 25px;
    width: 300px;

    > h3 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    &:hover {
        background: rgb(255, 146, 210);
    }
}
    &[class$="_active"] {
        > h3 {
            overflow-wrap: anywhere;
            white-space: wrap;

        }
    }

    & > p[class$="description"] {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & > * {
        padding: 1rem;
        border-radius: 25px;
        background: white;
        width: stretch;
    }
    > div[class$="button-area"] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        button {
            width: fit-content;
            height: fit-content;
            padding: 0.5rem;
            border-radius: 10px;
            border: 1px solid rgba(175, 22, 106, 0.247);
        }
        :nth-child(1) {
            background-color: rgba(102, 255, 102, 0.123);
            &:hover {
                background-color: rgba(114, 255, 71, 0.548);
            }
        }
        :nth-child(2) {
            background: rgb(255, 168, 168);
            &:hover {
                background-color: rgb(255, 126, 126);
            }
        }
    }
}

footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgb(229, 255, 158);
}