:root {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body, 
ul,
li,
p,
div,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    
}
li {
    list-style: none;
}
.wrapper {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: minmax(150px, 250px) minmax(50%, 100vw);
    grid-template-rows: 8fr 1fr;
    min-height: 100dvh;
    background-color: antiquewhite;

}
.sidebar {
    background: rgb(160, 163, 212);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .logo-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .img {
            margin: 1rem;
            width: 100px;
            height: 100px;
            outline: 2px solid black;
            background: white;
        }

        .title, 
        .info-area {
            background: pink;
            padding: 10px;
            width: stretch;
        }
    }
}

.projects {
    padding: 1rem;
    position: relative;
    background: pink;
    width: stretch;

    &::after {
        content: "V";
        font-weight: 800;
        font-size: 20px;
        position: absolute;
        top: 0.8rem;
        right: 1.2rem;
    }
    .projects-area {
        background: white;
        
    }
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;;
    align-items: flex-start;
    justify-content: space-between;
    
    > div {
        box-shadow: rgba(160, 0, 107, 0.616) 0 5px 10px;
    }
}

div[class^="todo"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    
    background: rgb(255, 203, 203);
    border-radius: 25px;
    width: 300px;

    & > p[class$="description"] {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }
    & > * {
        padding: 1rem;
        border-radius: 25px;
        background: white;
        width: stretch;
    }
}

footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: rgb(229, 255, 158);
}