:root {
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    --default-br: 15px;
    --main-color: rgb(255, 122, 118);
    --accent-color: rgb(255, 193, 142);
    --black: rgb(48, 14, 0);
    --white: rgb(255, 254, 251);
    --background: #ffe0d7;
    --drop-shadow: rgba(121, 34, 0, 0.363);

}
body, 
ul,
li,
p,
div,
h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    
}
li {
    list-style: none;
}
form,
input,
textarea,
dialog, 
select,
option, 
button {
    font-family: inherit;
    font-size: inherit;
}
dialog {
    color: var(--black);
    font-size: 16px;
    min-height: 300px;
    min-width: 300px;
    outline: none;
    border: 3px solid rgba(124, 0, 21, 0.699);
    border-radius: var(--default-br);
    background: rgb(255, 210, 184);

    button:hover {
        background: var(--accent-color);
        color: rgb(109, 0, 0);
    }
}
input,
textarea,
select,
option,
button {
    background: var(--white);
    border-color: rgb(255, 152, 55);
    outline-color: rgb(253, 160, 39);
    color: var(--black)
}

a[target="_blank"]::after {
    margin-left: 2px;
    display: inline-block;
    position: absolute;
    width: 15px;
    height: 15px;
    content: "";
    mask: url(./../imgs/up-right-from-square-solid-full.svg);
    mask-size: cover;
}

a:link {
    color: rgb(240, 47, 22);
    &::after {
        background: rgb(240, 47, 22);
    }
    &:hover {
        text-decoration: underline;
    }
}
a:visited {
    color: rgb(39, 107, 18);
    &::after {
        background: rgb(39, 107, 18);
    }
}

.user-input-form {
    display: grid;
    position: relative;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;


    #title {
        width: 19.35rem;
    }
    input[type="text"], textarea, input[type="date"], select {
        padding: 0.3rem;
    }
    > button {
        padding: 1rem;
    }
    > h2 {
        place-self: center;
    }
    > .close-button {
        position: absolute;
        margin: 0;
        padding: 0.1rem;
        top:0;
        right:0;
        outline: none;
        border: none;
        border-radius: var(--default-br);
        text-align: center;
        width: 40px;
        height: 40px;
        color: rgb(83, 0, 0);
        font-weight: 800;
        font-size: 20px;
    }
    > .submit-button {
        font-weight: 700;
    }
}
.user-input-area {
    display: grid;
    gap: 1rem;
    > div {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}
.notes,
.checklist {
    place-self: center;
    > div > button {
        padding: 0.3rem;
    }
}
.notes-area-div, 
.checklist-area-div {
    margin-top: 0.5rem;
    background: rgb(255, 195, 127);
    height: 120px;
    min-width: 40ch;
    overflow-y: scroll;
    > .notes-area, .checklist-area {
        display: flex;
        padding-left: 0.3rem;
        flex-direction: column;
        gap: 0.4rem;
        flex-wrap: wrap;
        padding: 0.4rem;
        > li {
            padding: 0.3rem;
            background: var(--white);
            box-shadow: var(--drop-shadow) 0px 1px 3px;
            display: flex;
            justify-content: space-between;
            margin-right: 0.5rem;
        }
    }
}

.checklist {
    display: flex;
    flex-direction: column;
    input#checklist {
        max-width: 18ch
    }
}

.project-wrapper {
    display: grid;
    grid-template-columns: 1fr 25px;
    grid-template-rows: 25px repeat(4, 50px);
    gap: 1rem;
    align-items: center;
    > button.close-button {
        display: block;
        width: 25px;
        outline: none;
        border: none;
        background: rgb(255, 187, 187);
        height: 25px;
        grid-column: 2;
        padding: 0;
        margin: 0;
        text-align: center;
        font-weight: 700;
    }
    > h2, form, button {
        grid-column: span 2;
        place-self: center;
    }
    > form {
        place-self: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        > .project-input > input[type="text"] {
            width: 10rem;
            padding: 0.3rem;
        }
        > div {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            > input[type="color"] {
                width: 10.7rem;
            }
        }
    }
    > button {
        font-family: inherit;
        place-self: center;
        width: 10rem;
        padding: 0.5rem;
    }
}

.wrapper {
    display: grid;
    gap: 0 2rem;
    grid-template-columns: minmax(150px, 250px) minmax(50%, 100vw);
    grid-template-rows: 8fr 1fr;
    min-height: 100dvh;
    background-color: var(--background);

}
.sidebar {
    position: relative;
    box-shadow: 5px 0 20px var(--drop-shadow);
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .logo-area {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        .img {
            mask: url(./../imgs/square-check-regular-full.svg);
            mask-size: cover;
            margin-top: 1rem;
            width: 100px;
            height: 100px;
            background: var(--accent-color);
            filter: brightness(1.1);
        }
        .title {
            margin-top: 1rem;
            position: absolute;
            left:85px;
            padding: 10px;
            color:var(--accent-color);
            font-size: 26px;
            filter: brightness(1.1);
        } 
    }
    .info-area {
            background: var(--accent-color);
            padding: 10px;
            width: stretch;
        }
}
.button-area {
    grid-column: 1;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    > button {
        padding: 0.5rem;
        border-radius: calc(var(--default-br) - 5px);
        background: var(--accent-color);
        color: var(--black);
        font-weight: 700;

        &:hover {
            background: rgba(226, 110, 1, 0.63);
        }
    }
}

.projects {
    grid-column: 1;
    padding: 1rem;
    position: relative;
    background: var(--accent-color);
    width: stretch;
}
.projects-area {
    grid-column: 1;
        background: var(--white);
        height: stretch;
        height: 100%;
        box-shadow: inset var(--drop-shadow) 0 3px 2px;
        
    }
.project-area-ul {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1rem;
}
.project-area-ul > li {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    background: var(--accent-color);
    padding: 0.5rem;
    border-radius: calc(var(--default-br) - 5px);
    &:hover {
        transform: scale(1.03);
    }

    > div[class^="separator"] {
        display: flex;
        gap: 1rem;
        > button {
            border: none;
            width: 20px;
            height: 20px;
            font-weight: 800;
            text-align: center;
            background: rgba(255, 0, 0, 0.384);
            color: rgb(46, 0, 0);
            padding: 0;

        }
        > span[class^="project-color"] {
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    }

}


.card-area {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;;
    align-items: flex-start;
    justify-content: space-evenly;
    
    > div {
        box-shadow: var(--drop-shadow) 0 5px 10px;
    }
}

.card-area > div[class^="todo"] {
    display: grid;
    color: var(--black);
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    gap: 1rem;
    background: var(--main-color);
    border-radius: var(--default-br);
    width: 300px;
    
    
    > h3 {
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    &:hover {
        background: rgb(255, 238, 202);
    }
    &::after {
        content: "Title";
    }
}
& > p[class$="description"] {
        display: inline-block;
        place-content: center;
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
            &::after {
            content: "Description";
        }
    }
    &[class$="_active"] {
        > h3, p[class$="description"], li {
            overflow-wrap: break-word;
            line-break: anywhere;
            white-space: wrap;

        }
    }
    & > p[class$="due-date"]::after {
        content: "Due Date"
    }

    & > h4[class$="importance"]::after {
        content: "Importance";
    }

    & > ul[class$="checklist-area"]::after {
        content: "Checklist";
    }

    & > ul[class$="notes"]::after {
        content: "Notes";
    }

    & > * {
        display: flex;
        align-items: center;
        position: relative;
        padding: 1rem;
        border-radius: var(--default-br);
        background: var(--white);
        min-height: 35px; 
        &::after {
            color: rgba(66, 0, 0, 0.541);
            font-size: 12px;
            font-weight: 500;
            position:absolute;
            top:0px;
            left:0px;
            margin-left:0.5rem;
        }
    }
    > div[class$="button-area"] {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        gap: 0.2rem;
        &::after {
            content: "Button area";
            top: -2px;
            margin-left: 2.2rem;
        }
        button {
            width: fit-content;
            height: fit-content;
            padding: 0.5rem;
            border-radius: var(--default-br);
            border: 1px solid rgba(175, 22, 106, 0.247);
        }
        :nth-child(1) {
            background-color: rgba(102, 255, 102, 0.123);
            &:hover {
                background-color: rgba(114, 255, 71, 0.548);
            }
        }
        :nth-child(2) {
            background: rgb(255, 168, 168);
            &:hover {
                background-color: rgb(255, 126, 126);
            }
        }
    }
    > ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: flex-end;
        align-items: stretch;
        > li {
            border-radius: var(--default-br);
            padding: 0.2rem;
            padding-left: 0.4rem;
            background: rgb(255, 226, 198);
        }
    }
}

footer {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--accent-color);
}